@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



input[type="range"]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 9999px;
    background: blue;
    /* green-500 */
    cursor: pointer;
    -webkit-appearance: none;
    pointer-events: auto;
    margin-top: -7px;
}

input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 9999px;
    background: blue;
    cursor: pointer;
    border: none;
    pointer-events: auto;
}
